In [1]:
import pandas as pd
from IPython.display import display, HTML
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from pathlib import Path

plt.rcParams['figure.figsize'] = [10, 5]

config_dirs = open("prefixo_dados.txt").readlines() 
DIR_PREFIXO = Path(config_dirs[0].strip())


DIRETORIO_PRINCIPAL =  DIR_PREFIXO / "Projeto_PA" / "Projeto_PA_validado"
DIRETORIO_DATASET = DIR_PREFIXO / "Projeto_PA"

In [2]:
df = pd.read_csv(DIRETORIO_PRINCIPAL / "padrao_doenca" / "classificados_por_padroes_de_doenca_estatistica.csv", sep=";")
#df = pd.read_csv("../input/doenca-cardio/classificados_por_padroes_de_doenca_estatistica.csv", delimiter=";")
#display(HTML(df.to_html()))
df

,numero_identificacao,data_nascimento,genero,idade,peso,altura,data_exame,sist 9:00,sist 9:15,sist 9:30,...,Mediana Sistolica em 24h,Mediana Diastolica em 24h,AUC Sistolica em 24h,AUC Diastolica em 24h,AUC PP Daytime,AUC PP Nighttime,DP Sistolica em 24h,DP Diastolica em 24h,Picos Sistolica,Picos Diastolica
0,4,1923-10-05,M,94.0,85.0,160,2018-09-10 12:25:23,105.0,108.0,116.0,...,118.5,59.0,9545.5,4902.0,3748.0,841.5,16.52,11.36,11,34
1,5,1948-10-07,M,70.0,80.0,165,2018-12-26 07:39:41,103.0,114.0,82.0,...,106.0,62.0,8586.5,5034.5,2915.0,606.0,7.51,6.65,9,23
2,6,1999-03-23,M,19.0,100.0,197,2018-12-26 08:06:19,147.0,148.0,156.0,...,133.0,79.0,10674.0,6154.0,3721.0,751.5,12.70,13.01,19,19
3,7,1978-01-26,F,40.0,65.0,"1,64",2018-12-26 08:19:06,140.0,139.0,142.0,...,131.0,80.0,10679.5,6420.5,3642.0,602.5,16.13,10.34,21,9
4,8,1990-03-07,M,28.0,120.0,172,2018-12-26 08:26:59,NaN,110.0,101.0,...,115.0,78.0,9141.5,6118.0,2405.0,566.0,12.27,12.79,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19556,21786,1972-11-25,M,47.0,75.0,165,2020-09-10 16:03:08,163.0,198.0,172.0,...,152.0,116.0,12224.5,9265.0,2439.0,474.5,18.66,14.80,49,60
19557,21787,1970-10-19,M,49.0,90.0,183,2020-09-10 16:21:02,114.0,120.0,164.0,...,136.0,85.0,10970.0,6819.0,3319.0,738.0,17.22,13.67,32,27
19558,21788,1985-03-15,F,35.0,93.0,167,2020-09-10 16:44:53,107.0,110.0,103.0,...,112.0,62.0,9245.0,4935.5,3556.0,713.5,14.36,8.29,14,26
19559,21792,1952-04-21,F,68.0,64.0,160,2020-09-10 17:25:50,94.0,107.0,112.0,...,109.5,68.0,8989.5,5660.0,2815.5,460.0,14.14,9.38,19,13
19560,21793,1971-01-14,M,49.0,99.0,179,2020-09-10 17:42:01,111.0,104.0,103.0,...,121.0,86.0,9812.0,6746.5,2400.5,612.0,13.92,12.71,11,27

In [3]:
# drop all averages, standard deviations, and classes (types of diseases)
new_df = df.iloc[:,1:172]
#display(HTML(new_df.to_html()))
new_df

,data_nascimento,genero,idade,peso,altura,data_exame,sist 9:00,sist 9:15,sist 9:30,sist 9:45,...,diast 6:45,diast 7:00,diast 7:15,diast 7:30,diast 7:45,diast 8:00,diast 8:15,diast 8:30,diast 8:45,whitecoat
0,1923-10-05,M,94.0,85.0,160,2018-09-10 12:25:23,105.0,108.0,116.0,104.0,...,NaN,NaN,NaN,NaN,67.0,61.0,69.0,62.0,51.0,"[('12:39', 140.0, 80.0), ('12:48', nan, nan), ..."
1,1948-10-07,M,70.0,80.0,165,2018-12-26 07:39:41,103.0,114.0,82.0,104.0,...,NaN,74.0,NaN,NaN,NaN,60.0,74.0,70.0,67.0,"[('08:04', 114.0, 60.0), ('08:15', 111.0, 74.0..."
2,1999-03-23,M,19.0,100.0,197,2018-12-26 08:06:19,147.0,148.0,156.0,140.0,...,86.0,93.0,NaN,NaN,NaN,86.0,87.0,82.0,82.0,"[('08:11', 133.0, 86.0), ('08:15', 137.0, 87.0..."
3,1978-01-26,F,40.0,65.0,"1,64",2018-12-26 08:19:06,140.0,139.0,142.0,137.0,...,56.0,62.0,83.0,104.0,NaN,NaN,89.0,90.0,72.0,"[('08:22', 153.0, 89.0), ('08:30', 153.0, 90.0..."
4,1990-03-07,M,28.0,120.0,172,2018-12-26 08:26:59,NaN,110.0,101.0,108.0,...,NaN,NaN,93.0,68.0,91.0,NaN,NaN,81.0,72.0,"[('08:31', 106.0, 81.0), ('08:48', 116.0, 72.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19556,1972-11-25,M,47.0,75.0,165,2020-09-10 16:03:08,163.0,198.0,172.0,148.0,...,114.0,126.0,NaN,NaN,NaN,123.0,121.0,119.0,123.0,"[('17:46', 162.0, 127.0), ('18:03', 157.0, 118..."
19557,1970-10-19,M,49.0,90.0,183,2020-09-10 16:21:02,114.0,120.0,164.0,116.0,...,73.0,59.0,74.0,68.0,86.0,96.0,107.0,106.0,93.0,"[('16:29', 115.0, 72.0), ('16:48', nan, nan), ..."
19558,1985-03-15,F,35.0,93.0,167,2020-09-10 16:44:53,107.0,110.0,103.0,NaN,...,50.0,50.0,53.0,52.0,62.0,68.0,61.0,64.0,60.0,"[('16:51', 126.0, 68.0), ('17:00', 128.0, 60.0..."
19559,1952-04-21,F,68.0,64.0,160,2020-09-10 17:25:50,94.0,107.0,112.0,124.0,...,NaN,64.0,76.0,72.0,69.0,75.0,74.0,69.0,67.0,"[('17:54', 132.0, 77.0), ('18:03', nan, nan), ..."
19560,1971-01-14,M,49.0,99.0,179,2020-09-10 17:42:01,111.0,104.0,103.0,101.0,...,NaN,NaN,71.0,73.0,56.0,57.0,65.0,68.0,82.0,"[('17:48', 107.0, 83.0), ('18:00', 114.0, 75.0..."

In [4]:
new_dff = new_df.fillna(0)

In [5]:
print(new_dff.columns)

Index(['data_nascimento', 'genero', 'idade', 'peso', 'altura', 'data_exame',
       'sist 9:00', 'sist 9:15', 'sist 9:30', 'sist 9:45',
       ...
       'diast 6:45', 'diast 7:00', 'diast 7:15', 'diast 7:30', 'diast 7:45',
       'diast 8:00', 'diast 8:15', 'diast 8:30', 'diast 8:45', 'whitecoat'],
      dtype='object', length=171)

In [6]:
# transform Gender M and F to binary 
# cleanup_nums = {"Morning Surge": {"NaN": False}}

# new_dff.replace(cleanup_nums, inplace=True)
#display(HTML(new_dff.to_html()))

In [7]:
# transform Gender M and F to binary 
cleanup_nums = {"genero": {"M": True, "F": False}}

new_dff.replace(cleanup_nums, inplace=True)
new_dff = new_dff.astype(int)

ValueError: invalid literal for int() with base 10: '1923-10-05'

In [ ]:
#display(HTML(new_dff.to_html()))
new_dff

In [ ]:
df_X = new_dff.iloc[:,:161]
#display(HTML(df_X.to_html()))
df_X

In [ ]:
df_Y = new_dff.iloc[:,161:]
#display(HTML(df_Y.to_html()))
df_Y

In [ ]:
# split between train and test with test_size of 0.3 (30%)
X_train, X_test, y_train, y_test = train_test_split(df_X, df_Y, test_size=0.3, random_state=42)

print(X_train.shape[0])
display(X_train.head())

print(X_test.shape[0])
display(X_test.head())

In [ ]:
print(np.unique(df_Y.values, axis=0).shape[0])
display(np.unique(df_Y.values, axis=0))

In [ ]:
# print(np.unique(np.argmax(df_Y.values, axis=1)))
listm = np.unique(df_Y.values, axis=0).tolist()
print(listm)
print(listm[0])

print([''.join(str(e) for e in i) for i in listm])

print([int(''.join(str(e) for e in i),2) for i in listm])

In [ ]:
print(np.unique([int(''.join(str(e) for e in i),2) for i in df_Y.values.tolist()], return_counts=True))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score
# from sklearn.tree import export_graphviz
# from sklearn.externals.six import StringIO  
import warnings

In [ ]:
warnings.filterwarnings('ignore')

Ms = np.arange(2,10)
mean_acc = list()

for k in Ms:
    
    #create classifier
    drugTree = DecisionTreeClassifier(criterion="entropy", random_state=123, max_depth=k)
    
    #create pipeline with scaler and classifier
    pipeline = Pipeline([('scaler', StandardScaler()), ('estimator', drugTree)])
    
    # perform cv=10 with F1_scored weighted
    scores = cross_val_score(pipeline, X_train, y_train, cv = 5, scoring='f1_weighted')
    mean_acc.append(np.mean(scores))

# mean_acc

In [ ]:
plt.plot(Ms,mean_acc,'g')
plt.ylabel('F1 score')
plt.xlabel('max depth')
plt.tight_layout()
plt.show()

In [ ]:
print( "The best accuracy was with", max(mean_acc), "with max_depth=", Ms[np.argmax(mean_acc)])

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)
X_scaled = scaler.transform(X_train)

In [ ]:
best_drugTree = DecisionTreeClassifier(criterion="entropy", random_state=123, max_depth = Ms[np.argmax(mean_acc)] )
best_drugTree.fit(X_scaled,y_train)

In [ ]:
predTree = best_drugTree.predict(X_scaled)

In [ ]:
print('Train Accuracy: ', accuracy_score(y_train, predTree))
print('Train F1_score: ', f1_score(y_train, predTree, average='weighted'))

In [ ]:
test_X_scaled= scaler.transform(X_test)
# test_X_scaled[0:5]

In [ ]:
test_predTree  = best_drugTree.predict(test_X_scaled)
#print(test_predTree)

print('Test Accuracy: ', accuracy_score(y_test, test_predTree))

# print('Test jaccard similarity score: ', jaccard_similarity_score(y_test, test_predTree))
print('Test F1_score: ', f1_score(y_test, test_predTree, average='weighted'))

# multi-output classifier - DecisionTreeClassifier

In [ ]:
#from sklearn.multioutput import MultiOutputClassifier

In [ ]:
#best_tree = DecisionTreeClassifier(criterion="entropy", random_state=123, max_depth = Ms[np.argmax(mean_acc)] )
#clf = MultiOutputClassifier(best_tree).fit(X_scaled, y_train)

In [ ]:
#test_predTree_m  = clf.predict(test_X_scaled)
#print(test_predTree)

# print('Test Accuracy: ', accuracy_score(y_test, test_predTree_m))

# # print('Test jaccard similarity score: ', jaccard_similarity_score(y_test, test_predTree))
# print('Test F1_score: ', f1_score(y_test, test_predTree_m, average='weighted'))

# multi-output classifier - RandomForestClassifier

In [ ]:
# warnings.filterwarnings('ignore')

# Ms = np.arange(2,20)
# mean_acc = list()

# for k in Ms:
    
#     #create classifier
#     clf_forest = RandomForestClassifier(criterion="entropy", random_state=123, max_depth=k)
    
#     #create pipeline with scaler and classifier
#     pipeline = Pipeline([('scaler', StandardScaler()), ('estimator', clf_forest)])
    
#     # perform cv=10 with F1_scored weighted
#     scores = cross_val_score(pipeline, X_train, y_train, cv = 5, scoring='f1_weighted')
#     mean_acc.append(np.mean(scores))

# mean_acc

In [ ]:
# plt.plot(Ms,mean_acc,'g')
# plt.ylabel('F1 score')
# plt.xlabel('Max leaf nodes')
# plt.tight_layout()
# plt.show()

In [ ]:
# print("The best accuracy was with", max(mean_acc), "with max_depth=", Ms[np.argmax(mean_acc)])

In [ ]:
# best_forest = RandomForestClassifier(criterion="entropy", random_state=123, max_depth = Ms[np.argmax(mean_acc)] )
# best_forest.fit(X_scaled,y_train)

In [ ]:
# test_pred_m  = best_forest.predict(test_X_scaled)
# print(test_predTree)

# print('Test Accuracy: ', accuracy_score(y_test, test_pred_m))

# # print('Test jaccard similarity score: ', jaccard_similarity_score(y_test, test_predTree))
# print('Test F1_score: ', f1_score(y_test, test_pred_m, average='weighted'))

# classifier per each class - DecisionTreeClassifier

In [ ]:
n_classes = y_train.shape[1]
classes = y_train.columns.values.tolist()
print(classes)
print(n_classes)
print(y_train.iloc[:,0].values)

In [ ]:
for i in range(n_classes):
    print('disease:'+str(classes[i]))
    y = y_train.iloc[:,i].values
    print('ones: ',(y == 1).sum())
    print('zeros:',(y == 0).sum())
    print('------')

In [ ]:
for i in range(n_classes):
    print('disease:'+str(classes[i]))
    y = y_test.iloc[:,i].values
    print('ones: ',(y == 1).sum())
    print('zeros:',(y == 0).sum())
    print('------')

In [ ]:
mean_acc_estimators = list()
Ms = np.arange(2,100)

for i in range(n_classes):
    mean_acc = list()
    y = y_train.iloc[:,i].values
    for k in Ms:

        #create classifier
        tree = DecisionTreeClassifier(criterion="entropy", random_state=123, max_depth=k)

        #create pipeline with scaler and classifier
        pipeline = Pipeline([('scaler', StandardScaler()), ('estimator', tree)])

        # perform cv=10 with F1_scored weighted
        scores = cross_val_score(pipeline, X_train, y, cv = 5, scoring='f1_weighted')
        mean_acc.append(np.mean(scores))
    mean_acc_estimators.append(mean_acc)
# mean_acc

In [ ]:
plt.figure(figsize=(20,10))
for i in range(len(mean_acc_estimators)):
    plt.plot(Ms, mean_acc_estimators[i], label=classes[i])   
plt.ylabel('F1 score')
plt.xlabel('Max depth')
plt.legend(loc="upper left")
plt.tight_layout()
plt.show()

In [ ]:
for i in range(n_classes):
    print( "The best accuracy was with: "+str(i), max(mean_acc_estimators[i]), "with max_depth=", Ms[np.argmax(mean_acc_estimators[i])])

In [ ]:
estimators = list()

for i in range(n_classes):
    best_Tree = DecisionTreeClassifier(criterion="entropy", random_state=123, max_depth = Ms[np.argmax(mean_acc_estimators[i])] )
    y = y_train.iloc[:,i].values
    best_Tree.fit(X_scaled,y)
    estimators.append(best_Tree)

In [ ]:
for i in range(n_classes):

    test_pred_m  = estimators[i].predict(test_X_scaled)
    print('Test Accuracy: '+str(classes[i])+' -- ', accuracy_score(y_test.iloc[:,i], test_pred_m))

    # print('Test jaccard similarity score: ', jaccard_similarity_score(y_test, test_predTree))
    print('Test F1_score: '+str(classes[i])+' -- ', f1_score(y_test.iloc[:,i], test_pred_m, average='weighted'))
    print('------------------------')

# classifier per each class - Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
mean_acc_estimators_LR = list()
Cks = np.linspace(1e-3,100, 50)

for i in range(n_classes):
    mean_acc = list()
    y = y_train.iloc[:,i].values

    for Ck in Cks:

        #create pipeline with scaler and classifier
        LR = LogisticRegression(C=Ck, solver='liblinear')
        pipeline = Pipeline([('scaler', StandardScaler()), ('estimator', LR)])

        # perform cv using F1_score weighted
        scores = cross_val_score(pipeline, X_train, y, cv = 5, scoring='f1_weighted')
        mean_acc.append(np.mean(scores))
    mean_acc_estimators_LR.append(mean_acc)

In [ ]:
print(len(mean_acc_estimators_LR))
print(Cks)

In [ ]:
plt.figure(figsize=(20,10))
for i in range(len(mean_acc_estimators_LR)):
    plt.plot(Cks, mean_acc_estimators_LR[i], label=classes[i])    
plt.ylabel('F1 score')
plt.xlabel('Regularization parameter (C)')
plt.legend(loc="upper left")
plt.tight_layout()
plt.show()

In [ ]:
for i in range(n_classes):
    print( "The best accuracy was with: "+str(classes[i]), max(mean_acc_estimators_LR[i]), "with C=", Cks[np.argmax(mean_acc_estimators_LR[i])])

In [ ]:
# estimators_LR = list()

# for i in range(n_classes):
#     best_LR = LogisticRegression(C=Cks[np.argmax(mean_acc_estimators_LR[i])], solver='liblinear')
#     y = y_train.iloc[:,i].values
#     best_LR.fit(X_scaled,y)
#     estimators_LR.append(best_LR)

In [ ]:
# for i in range(n_classes):

#     test_pred_m  = estimators_LR[i].predict(test_X_scaled)
#     print('Test Accuracy: '+str(classes[i])+' -- ', accuracy_score(y_test.iloc[:,i], test_pred_m))

#     # print('Test jaccard similarity score: ', jaccard_similarity_score(y_test, test_predTree))
#     print('Test F1_score: '+str(classes[i])+' -- ', f1_score(y_test.iloc[:,i], test_pred_m, average='weighted'))
#     print('------------------------')

# classifier per each class - Random Forest

In [ ]:
mean_acc_estimators_RF = list()
Ns = np.arange(2,50)

for i in range(n_classes):
    mean_acc = list()
    y = y_train.iloc[:,i].values

    for n in Ns:

        #create pipeline with scaler and classifier
        RF = RandomForestClassifier(n_estimators=n, criterion="entropy", random_state=123)
        pipeline = Pipeline([('scaler', StandardScaler()), ('estimator', RF)])

        # perform cv using F1_score weighted
        scores = cross_val_score(pipeline, X_train, y, cv = 5, scoring='f1_weighted')
        mean_acc.append(np.mean(scores))
    mean_acc_estimators_RF.append(mean_acc)

In [ ]:
plt.figure(figsize=(20,10))
for i in range(len(mean_acc_estimators_RF)):
    plt.plot(Ns, mean_acc_estimators_RF[i], label=classes[i])    
plt.ylabel('F1 score')
plt.xlabel('number of estimators (N)')
plt.legend(loc="upper left")
plt.tight_layout()
plt.show()

In [ ]:
for i in range(n_classes):
    print( "The best accuracy was with: "+str(classes[i]), max(mean_acc_estimators_RF[i]), "with N=", Ns[np.argmax(mean_acc_estimators_RF[i])])

In [ ]:
estimators_RF = list()

for i in range(n_classes):
    best_RF = RandomForestClassifier(criterion="entropy", random_state=123, max_depth=Ns[np.argmax(mean_acc_estimators_RF[i])])
    y = y_train.iloc[:,i].values
    best_RF.fit(X_scaled,y)
    estimators_RF.append(best_RF)

In [ ]:
test_pred = list()

for i in range(n_classes):

    test_pred_m  = estimators_RF[i].predict(test_X_scaled)
    print('Test Accuracy: '+str(classes[i])+' -- ', accuracy_score(y_test.iloc[:,i], test_pred_m))
    test_pred.append(test_pred_m.reshape(-1,1))
    

    # print('Test jaccard similarity score: ', jaccard_similarity_score(y_test, test_predTree))
    print('Test F1_score: '+str(classes[i])+' -- ', f1_score(y_test.iloc[:,i], test_pred_m, average='weighted'))
    print('------------------------')

In [ ]:
print(test_pred[0])
len(test_pred[0])

In [ ]:
test_predf = np.concatenate(tuple(test_pred), axis=1)
print(test_predf.shape)

In [ ]:
test_predf

In [ ]:
print('Test Accuracy: ', accuracy_score(y_test, test_predf))
    
# print('Test jaccard similarity score: ', jaccard_similarity_score(y_test, test_predTree))
print('Test F1_score: ', f1_score(y_test, test_predf, average='weighted'))