In [15]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from matplotlib import pyplot as plt
import matplotlib as mpl
from pathlib import Path
from functools import partial
import math

plt.rcParams['figure.figsize'] = [10, 5]


# Definição de diretórios e Disco de leitura dos arquivos (Desktop ou Notebook) 
config_dirs = open("prefixo_dados.txt").readlines() 
DIR_PREFIXO = Path(config_dirs[0].strip())


DIRETORIO_PRINCIPAL =  DIR_PREFIXO / "Projeto_PA" / "Projeto_PA_validado"
DIR_BASE = DIR_PREFIXO / "Projeto_PA" / "dataset_modificado"
DIR_SALVA = DIRETORIO_PRINCIPAL / "analise_abordagens" / "todos_pacientes"
DIR_KMEANS = DIRETORIO_PRINCIPAL / "KMeansRandom"

In [16]:
#leitura do dataset completo com dados cadastrais, medidas e estatísticas

dataset = pd.read_csv(DIR_BASE / "pacientes_completos_tratados.csv",sep=';', encoding="Latin1")

abordagem = 'medidas'
df_abordagem = pd.read_csv(DIR_KMEANS / f"KMEANS_approach_{abordagem}_todos_pacientes.csv", 
                        sep=";", encoding="latin1")

In [17]:
# PERÍODOS 
#      Matutino 6h-8h59       Dataset 6h-8h45
#      Diurno 9h-20h59                9h-20h45
#      Vespertino 21h-22h59           21h-22h45
#      Noturno 23h-05h59              23h-5h30

#matutino = (time(6,0), time(9,0))
#diurno = (time(9,0), time(21,0))
#vespertino = (time(21,0), time(1,0))
#noturno = (time(1,0), time(6,0))
#
# Valores de Referência Normal das Sistólicas e Diastólicas
max_sist = 140
min_sist = 100
max_diast = 90
min_diast = 60

In [18]:

# Conta a quantidade de Picos = medidas acima do valor de referência

def conta_picos (df, qtd_medidas ,sist_max=140, sist_min=100, diast_max=90, diast_min=60) :
    sist = df.loc[:,'sist 9:00':'sist 8:45']
    diast = df.loc[:,'diast 9:00':'diast 8:45']
    
    saida = pd.DataFrame()
    
    contador = 0  
    
    for medida in range(0, len(sist.columns)):
        if contador == 0 :
            ls_sist_max = list()
            ls_sist_min = list()
            ls_sist_nor = list()
            
            if medida >= 56 and medida <= 69 :  
                dia_noite = int(qtd_medidas / 2)
            else :
                dia_noite = qtd_medidas
                
            contador = dia_noite - 1
            colunas = list(sist.iloc[:,medida:medida + dia_noite].columns)
            for linha in sist.iloc[:,medida:medida + dia_noite].values:
                qtd_max = 0
                qtd_min = 0
                qtd_nor = 0
                for i in range(len(linha)):
                    if linha[i] > sist_max:
                        qtd_max += 1
                    elif linha[i] < sist_min:
                        qtd_min += 1
                    else:
                        qtd_nor += 1
                        
                ls_sist_max.append(qtd_max)
                ls_sist_min.append(qtd_min)
                ls_sist_nor.append(qtd_nor)

            nome = 'Sist ' + colunas[0].split(' ')[1] + ' - ' + colunas[-1].split(' ')[1]

            saida[f'{nome} Max'] = ls_sist_max
            saida[f'{nome} Min'] = ls_sist_min
            saida[f'{nome} Normal'] = ls_sist_nor
        else : 
            contador -= 1
            
        
    for medida in range(0, len(diast.columns)):
        if contador == 0 :
            ls_diast_max = list()
            ls_diast_min = list()
            ls_diast_nor = list()

            if medida >= 56 and medida <= 69 :  
                dia_noite = int(qtd_medidas / 2)
            else :
                dia_noite = qtd_medidas
            contador = dia_noite - 1
            colunas = list(diast.iloc[:,medida:medida + dia_noite].columns)
            for linha in diast.iloc[:,medida:medida + dia_noite].values:
                qtd_max = 0
                qtd_min = 0
                qtd_nor = 0
                for i in range(len(linha)):
                    if linha[i] > diast_max:
                        qtd_max += 1
                    elif linha[i] < diast_min:
                        qtd_min += 1
                    else:
                        qtd_nor += 1
                        
                ls_diast_max.append(qtd_max)
                ls_diast_min.append(qtd_min)
                ls_diast_nor.append(qtd_nor)

            nome = 'Diast ' + colunas[0].split(' ')[1] + ' - ' + colunas[-1].split(' ')[1]

            saida[f'{nome} Max'] = ls_diast_max
            saida[f'{nome} Min'] = ls_diast_min
            saida[f'{nome} Normal'] = ls_diast_nor
        else : 
            contador -= 1
        
    return saida
 
def comb(n,k):
    return int(math.factorial(n) / (math.factorial(k)*math.factorial(n - k)))

In [19]:
#  Calcula a qtd de picos e organiza em forma descendente
# Informa à função o dataset e quantas medidas considerar. A cada 4, significa 1h de medidas diurnas

contagem_picos = conta_picos(dataset,4)
ls_valores = list()
for i in range(len(contagem_picos)) :
    ls_valores.append(sum(contagem_picos.iloc[i,:]))
novo_dataset = pd.DataFrame ()
novo_dataset['numero_identificacao'] = dataset['numero_identificacao']
novo_dataset ['qtd picos'] = ls_valores
novo_dataset = novo_dataset.sort_values(by=['qtd picos'], ascending=False)

In [20]:
def conta_picos_df(df,abordagem):
    lista_grupos = list()
    for j in range(len(set(df['grupo']))):
        df_grupo = df[df['grupo'] == j+1]
        contagem_picos = conta_picos(df_grupo,4)
        
        ls_valores = list()
        for i in range(len(contagem_picos)) :
            ls_valores.append(sum(contagem_picos.iloc[i,:]))
        novo_dataset = pd.DataFrame ()
        novo_dataset['numero_identificacao'] = df_grupo['numero_identificacao']
        novo_dataset ['qtd picos'] = ls_valores
        novo_dataset = novo_dataset.sort_values(by=['qtd picos'], ascending=False)
        
        qtd_total_picos = np.sum(contagem_picos,axis=0).sort_values(ascending=False)
        qtd_total_picos = qtd_total_picos.to_frame().reset_index()
        qtd_total_picos.columns = ['Horário',f'QTD Picos - Grupo {j+1}']
        qtd_total_picos['%'] = np.round(qtd_total_picos[f'QTD Picos - Grupo {j+1}'] / sum(qtd_total_picos[f'QTD Picos - Grupo {j+1}']) * 100,3)
        qtd_total_picos.to_csv ( DIR_SALVA / f"frequencia_picos_{abordagem}_grupo{j+1}.csv", sep=";", encoding="latin1")
        
        lista_grupos.append(qtd_total_picos)
    return lista_grupos

In [21]:
lista_contagem  = conta_picos_df(df_abordagem,'medidas')

In [22]:
lista_contagem[6]

                    Horário  QTD Picos - Grupo 7      %
0    Sist 19:00 - 19:45 Max                 2497  2.058
1      Sist 8:00 - 8:45 Max                 2463  2.029
2    Sist 20:00 - 20:45 Max                 2452  2.020
3    Sist 18:00 - 18:45 Max                 2446  2.015
4      Sist 9:00 - 9:45 Max                 2438  2.009
..                      ...                  ...    ...
139    Sist 0:00 - 0:30 Min                    5  0.004
140    Sist 6:00 - 6:45 Min                    4  0.003
141    Sist 5:00 - 5:30 Min                    4  0.003
142    Sist 2:00 - 2:30 Min                    4  0.003
143    Sist 1:00 - 1:30 Min                    4  0.003

[144 rows x 3 columns]

In [23]:
lista_contagem[6].sort_values(by=['Horário'])

                      Horário  QTD Picos - Grupo 7      %
78      Diast 0:00 - 0:30 Max                  612  0.504
103     Diast 0:00 - 0:30 Min                   37  0.030
59   Diast 0:00 - 0:30 Normal                  831  0.685
16    Diast 10:00 - 10:45 Max                 2109  1.738
120   Diast 10:00 - 10:45 Min                   20  0.016
..                        ...                  ...    ...
129      Sist 8:00 - 8:45 Min                   13  0.011
93    Sist 8:00 - 8:45 Normal                  484  0.399
4        Sist 9:00 - 9:45 Max                 2438  2.009
121      Sist 9:00 - 9:45 Min                   19  0.016
90    Sist 9:00 - 9:45 Normal                  503  0.414

[144 rows x 3 columns]

In [24]:
sum(lista_contagem[1]['%'])

99.99699999999999

In [25]:
lista = [float(x.split(' ')[1].replace(':','.')) for x in df_abordagem.loc[:,'sist 9:00':'diast 8:45'].columns]
lista.sort()
dia = list()
noite = list()
for i in lista:
    if i >= 6 and i <= 22.45:
        dia.append(i)
    else:
        noite.append(i)
print(f'Dia: {len(dia)}\nNoite: {len(noite)}')

Dia: 136
Noite: 28

In [27]:
qtd_total_picos = np.sum(contagem_picos,axis=0).sort_values(ascending=False)
qtd_total_picos = qtd_total_picos.to_frame().reset_index()
qtd_total_picos.columns = ['Horário','QTD Picos']
qtd_total_picos['%'] = np.round(qtd_total_picos['QTD Picos'] / sum(qtd_total_picos['QTD Picos']) * 100,3)
qtd_total_picos

                       Horário  QTD Picos      %
0    Sist 14:00 - 14:45 Normal      61840  1.960
1    Sist 15:00 - 15:45 Normal      61640  1.953
2    Sist 13:00 - 13:45 Normal      61569  1.951
3    Sist 16:00 - 16:45 Normal      61449  1.947
4    Sist 17:00 - 17:45 Normal      61095  1.936
..                         ...        ...    ...
139       Sist 2:00 - 2:30 Max       2535  0.080
140      Diast 4:00 - 4:30 Max       2020  0.064
141      Diast 1:00 - 1:30 Max       2017  0.064
142      Diast 3:00 - 3:30 Max       1886  0.060
143      Diast 2:00 - 2:30 Max       1822  0.058

[144 rows x 3 columns]

In [28]:
#  Grava a quantidade de picos por cada período de tempo informado para calcular
#qtd_total_picos.to_csv ( DIR_SALVA / "frequencia_picos.csv", sep=";", encoding="latin1")